.aboutme {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}
li {
  margin-right: 20px;
  margin-bottom: 10px;
}
li img {
  margin-bottom: 2px;
}
li span,
li a {
  color: black;
  text-decoration: none;
  margin-left: 5px;
}
li a:hover {
  color: black;
}

.card {
  width: 700px;
  text-align: left;
  margin-right: 5px;
}
.card-main {
  align-items: center;
  justify-content: center;
  margin: auto;

  min-height: 100%;
  max-width: 40vw !important;
  max-height: 100%;
}

.ant-col .postimage2 {
  max-height: 30vw;
  max-width: 30vw !important;
  margin-bottom: 10px;
}

.register-login {
  padding-top: 35px;
  min-height: 100vh !important;
  background-image: linear-gradient(to top, #001f85 0%, #007185 50%);
}
.logo2 {
  margin-bottom: 10px;
}
@media only screen and (max-width: 700px) {
  .register-login {
    padding-top: 10px;
  }
  .logo2 {
    margin-right: 3vh;
    margin-bottom: 10px;
    width: 40vw !important; /* you can use % */
    height: auto;
  }
  .card-main {
    min-width: 80vw !important;
    width: 80vw !important;
  }
}
