@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Condensed", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bs1 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.register-div {
  margin-top: 150px !important;
}
input,
button,
textarea {
  border: 1px solid black !important;
}
input[type="file"] {
  border: none !important;
}
.spinner-border {
  position: fixed !important;
  color: blue;
  top: 60% !important;
  left: calc(50% - 50px) !important;
  width: 100px;
  height: 100px;
  z-index: 999;
}
