@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Condensed", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bs1 {
  box-shadow: rgb(49, 56, 59) 0px 2px 10px 0px, rgb(36, 85, 150) 0px 1px 3px 1px;
  border-radius: 12px !important;
  background-color: white;
}
.bs2 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.ds {
  color: black;
  margin: 5px !important;
  font-size: 25px;
}
.ds1 {
  color: black;
  margin: 5px !important;
  font-size: 17px;
}
hr.new1 {
  border-top: 1px solid black;
}

.register-div {
  margin-top: 150px !important;
}
input,
button,
textarea {
  border: 1px solid black !important;
}
input[type="file"] {
  border: none !important;
}
.spinner-border {
  position: fixed !important;
  color: blue;
  top: 60% !important;
  left: calc(50% - 50px) !important;
  width: 100px;
  height: 100px;
  z-index: 999;
}

img {
  border-radius: 10px;
}

.anticon svg {
  font-size: 17px !important;
}

.search-users {
  width: "60%";
}
.register-maindiv {
  min-height: 100vh !important;

  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.login-maindiv {
  min-height: 100vh !important;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
form {
  background-color: white !important;
  border-radius: 5px !important;
}
.left-title {
  font-size: 80px;
  font-weight: bold !important;
  border-top: 10px solid white;
  color: white !important;
  border-color: tomato !important;
}
.right-title {
  font-size: 80px;
  font-weight: bold !important;
  border-bottom: 10px solid white;
  border-color: yellow;
  color: white;
}
@media only screen and (max-width: 700px) {
  .logotext {
    display: none !important;
  }

  .search-users {
    width: "100%";
  }

  .left-title {
    font-size: 30px;
    font-weight: bold !important;
  }
  .ds1 {
    color: black;
    margin: 5px !important;
    font-size: 10px;
  }
  .anticon svg {
    font-size: 10px !important;
  }
}

/* MAX */

.ant-layout .ant-row .ant-col {
  max-width: 37vw;
}
.dropdown-toggle {
  background-color: #365981 !important;
}
.dropdown-toggle:hover {
  background-color: #0064d6 !important;
}
.dropdown-menu {
  background-color: #c9c9c9 !important;
}
.dropdown-item:hover {
  background-color: #435a75 !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.site-layout {
  background-color: #b3b3b3 !important;
}
.site-layout-background {
  background-color: #b3b3b3 !important;
}
.bg-dark {
  background-color: #1a6292 !important;
}

.username {
  font-size: 25px;
  font-weight: bold;
}
