@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Condensed", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bs1 {
  box-shadow: rgb(49, 56, 59) 0px 2px 10px 0px, rgb(36, 85, 150) 0px 1px 3px 1px;
  border-radius: 12px !important;
  background-color: white;
}
.bs2 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.ds1 {
  color: black;
  margin: 5px !important;
  font-size: 17px;
}

input,
button,
textarea {
  border: 1px solid black !important;
}
input[type="file"] {
  border: none !important;
}
.ant-input-password {
  border: 1px solid black !important;
}
.ant-input-password .ant-input {
  border: none !important;
}

img {
  border-radius: 10px;
}

.anticon svg {
  font-size: 17px !important;
}

/* form {
  background-color: white !important;
  border-radius: 5px !important;
}

.ant-layout .ant-row .ant-col {
  max-width: 37vw;
} */

.site-layout {
  background-color: #b3b3b3 !important;
}
.site-layout-background {
  background-color: #b3b3b3 !important;
}
.bg-dark {
  background-color: #1e92af !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.username {
  font-size: 25px;
  font-weight: bold;
}

.bs1 .following {
  background-color: #0064d6;
}

.left-title {
  font-size: 80px;
  font-weight: bold !important;
  border-top: 10px solid white;
  color: white !important;
  border-color: tomato !important;
}
.right-title {
  font-size: 80px;
  font-weight: bold !important;
  border-bottom: 10px solid white;
  border-color: yellow;
  color: white;
}
.card-main {
  align-items: center;
  justify-content: center;
  margin: auto;

  min-height: 100%;
  max-width: 40vw !important;
  max-height: 100%;
}

@media only screen and (max-width: 700px) {
  .logotext {
    display: none !important;
  }

  .left-title {
    font-size: 30px;
    font-weight: bold !important;
  }

  .anticon svg {
    font-size: 10px !important;
  }
  .card-main {
    align-items: center;
    justify-content: center;
    margin: auto;
    min-width: 85vw !important;
    width: 85vw !important;
    height: 100%;
  }
}

/* MAX */
