#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-header div span svg {
  height: 25px !important;
  width: 25px !important;
}

.ant-layout-content {
  min-height: 93vh !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation1 {
  animation: fadeIn 0.4s ease-in-out;
}

.animation2 {
  animation: fadeIn 0.6s ease-in-out;
}
.animation3 {
  animation: fadeIn 0.8s ease-in-out;
}
.animation4 {
  animation: fadeIn 1s ease-in-out;
}
.animation5 {
  animation: fadeIn 1.2s ease-in-out;
}
.animation6 {
  animation: fadeIn 2s ease-in-out;
}

.logo {
  width: 230px; /* you can use % */
}
.username2 {
  font-size: 13;
  color: black !important;
}
.username2:hover {
  color: rgb(80, 80, 80) !important;
}
.disc:hover {
  color: rgb(80, 80, 80) !important;
}
.disc {
  font-size: 12px;
  color: black !important;
}

.logo2 {
  width: 350px; /* you can use % */
  height: auto;
}

.dropdown-toggle:hover {
  background-color: #0064d6 !important;
}
.dropdown-menu {
  background-color: #ffffff !important;
}
.dropdown-item:hover {
  background-color: #1175e791 !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-divider {
  border-color: black !important;
  border-style: dashed;
  scale: transorm();
}
.tester {
  margin: 0 auto;
  width: 26vw;
}

.card {
  text-align: left;
  margin-right: 5px;
}
.postimage {
  max-height: 38vw;
  max-width: 38vw !important;
  margin-top: 10px;
}
@media only screen and (min-width: 992px) {
  .tester {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .home {
    margin-top: 10px !important;
  }
}
@media only screen and (max-width: 700px) {
  .logotext {
    display: none !important;
  }

  .left-title {
    font-size: 30px;
    font-weight: bold !important;
  }

  .username {
    font-size: 12px;
  }

  .logo {
    width: 170px;
  }

  .disc {
    font-size: 11px;
  }
  .ds1 {
    color: black;
    margin: 5px !important;
    font-size: 15px;
  }

  .postimage {
    min-width: 75vw !important;
    max-width: 75vw !important;
    max-height: 100% !important;
  }
}

form {
  background-color: white !important;
  border-radius: 5px !important;
}

.fix-user .ant-col {
  max-width: 37vw;
}
